html, body{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  font-size: 100%;
  background:
    linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ),
    url(../img/parallax-2.jpg) fixed;
  background-size: cover;
}
/*---------------------------------Button-----------------------------*/

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 1%;
}


/*---------------------------------Navbar-----------------------------*/
.ul-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li-navbar{
    float: left;
}

.li-navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.li-navbar a:hover {
    background-color: #111;
}

/*---------------------------------Articles-----------------------------*/
.article-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 19.6%;
  width: 80%;
  height: auto;
}

.pres-article{
  width: 20%;
  height: auto;
  position: relative;
  padding: 2%;
  margin: 0.5%;
  border: 1px solid black;
  background-color: white;
}

.content-article{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.content-article img{
  display: none;
}


.link-article{
  text-align: center;
}


/*---------------------------------Gestion-articles-----------------------------*/

.gestion_article{
  width: 80%;
  height: auto;
  background-color: white;
  margin-left: 10%;
  padding: 1%;
}

.gestion_article h1,h5{
  text-align: center;
}

.gestion_article img{
  max-width: 100%;
  height: auto;
}

/*---------------------------------modif-article-----------------------------*/

.modif-article{
  width: 80%;
  height: auto;
  margin-left: 10%;
}

.modif-article textarea{
  width: 100%;
  min-height: 500px;
  margin-left: 10%;
}

.modif-article h1{
  text-align: center;
}



/*---------------------------------loggin-----------------------------*/

.connect-form{
  width:100%;
  height: auto;

}


/*---------------------------------acc-page-----------------------------*/
.page-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 19.6%;
  width: 80%;
  height: auto;
}

.pres-page{
  width: 20%;
  height: auto;
  position: relative;
  padding: 2%;
  margin: 0.5%;
  border: 1px solid black;
  background-color: white;
}

.content-page{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.link-page{
  text-align: center;
}

/*---------------------------------Admin-----------------------------*/

.admin-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  margin-left: 10%;

}

.liste-admin{
  padding: 2%;
  text-align: center;
}

.liste-admin li{
  list-style: none;
}

.form-admin{
  width: 40%;
  height: auto;
  margin-left: 30%;
}

.form-admin label{
  display: inline-block;
  text-align: left;
  padding: 5px;
}

.form-admin input{
  float: right;
  width: 300px;
  padding: 5px;
}

.form-admin h1{
  text-align: center;
}

/*---------------------------------Upload-----------------------------*/
.upload{
  text-align: center;
}

.affichage-pdf{
  text-align: center;
}

.affichage-pdf li{
  list-style: none;
}

/*---------------------------------suppression-pdf-----------------------------*/
.suppression-pdf{
  text-align: center;
  padding: 3%;
}

/*---------------------------------suppression-photo-----------------------------*/
.gestion-photo{
  width: 80%;
  height: auto;
  margin-left: 10%;
}

.visuel-photo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.visuel-photo li{
  list-style: none;
  text-align: center;
  padding: 2%;
}

.gestion-photo img{
  max-width: 200px;
  height: auto;
}

.suppression-photo{
  text-align: center;
}









/*-------------------------------------------------------------------*/
